In [6]:
import os
import pandas as pd
import numpy as np

sample = 'SubC2_train_0001'
df = pd.read_table("../Data/Subchallenge2/Train/%s.txt"%sample,\
                   header=None,names=["label","seq"])

In [7]:
df.head()

    label                                                seq
0  c_0011  00BCAA0A00A0000A00A000A0A0000B0000A00A00000A0A...
1  c_0170  00A000D0A0A00A-AAAA-------------AA000BAAA0000B...
2  c_0021  00B0A0000D00A00A0A00AC00AA00A0000A00EB000000A0...
3  c_0020  00B0A0A0A0AAAAAA00B000AC0B0B0A00000B00E0FB0000...
4  c_0541  000000AD0000A000B000000I00000AA00A00000C0A00HA...